
body{
    margin: 0;
    padding: 0;
    background: url(image.jpg);   
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background: #000000;
    color: white;
    height: 100px;
    margin: 0px;
    width: 100%;
    text-align: center;
    line-height: 100px;
}
h1{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: white;
}

ul {
    padding: 0;
    width: 100%;
    text-align: center;
  }
  
  li {
    display: inline;
  }
  
  a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 19.5%;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: black;
  }
  
  li:last-child a {
    margin-right: 0;
  }
  
  a:link, a:visited, a:focus {
    background: yellow;
  }
  
  a:hover {
    background: orange;
  }
  
  a:active {
    background: red;
    color: white;
  }
  